#imageMap {
  position: relative;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
.ansDot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Make the page non-scrollable */
}

#markHeading {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
}

#imageMap {
  max-width: 100%;
  margin-bottom: 10px; /* Add margin-bottom for spacing */
}

#submitBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #0056b3;
}
